section#panelsidebar {
  background: #f8fafc;
  width: 64px;
  height: calc(100% - 10px);
  display: flex;
  flex-direction: column;
  position: absolute;
  border-radius: 20px 0 0 0;
  overflow: hidden;
  box-shadow: 2px 0px 2px rgba(0, 0, 0, 0.04);
}

section#panelsidebar ul {
  list-style: none;
  display: flex;
  flex-direction: column;
}

section#panelsidebar li {
  width: 64px;
  height: 64px;
  display: flex;
  transition: all 0.15s ease-in-out;

  & * {
    margin: auto;
  }
  & img {
    width: 24px;
    height: 24px;
    svg {
      fill: #159159;
    }
  }
}

section#panelsidebar li.actived {
  background: #ddd;
}

section#panelsidebar li .notification-place {
  position: absolute;
  margin-top: 42px;
  margin-left: 42px;
}

section#panelsidebar li button {
  background: transparent;
  border: 0;
  width: 100%;
  height: 100%;
}
