aside {
  width: 310px;
  height: 100vh;
  background: #148073 url("../../assets/svgs/background_aside.svg") no-repeat
    center;
  background-position: 50% 90%;
  display: flex;
  flex-direction: column;
}

aside .customers-actions {
  padding: 1rem;
  color: #fff;
  font-size: 13px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
}

aside .customers-actions .box-search {
  padding: 10px 15px;
  border: 1px solid rgba(255, 255, 255, 0.05);
  border-radius: 4px;
  background: #399c90;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

aside .customers-actions .box-search input {
  color: #fff;
  background: transparent;
  border: 0;
}

aside .customers-actions .action-add-customer {
  margin-top: 40px;
  padding: 0 10px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

aside footer {
  margin-top: auto;
  display: flex;
  justify-content: center;
  padding-bottom: 1rem;
}
